*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
.shadows-into-light-regular {
  font-family: "Shadows Into Light", serif;
  font-weight: 400;
  font-style: normal;
}

body,
html {
  height: 100vh;
  padding: 0;
  margin: 0;
  color: aliceblue;
}

body {
  font-family: "Shadows Into Light", serif;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 100vh;
  background-color: rgb(61, 60, 60);
}
.container {
  padding: 60px;
}

.h3 {
  color: aqua;
  font-size: 2rem;
  margin: 30px;
  text-align: center;
}

.button-kado {
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  background: #f5f5f5;
  color: #303030;
  border: 2px solid #303030;
  padding: 14px 55px 14px 55px;
  font-size: 12px;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  display: inline-block;
}

.tf {
  height: 40px;
  width: 100%;
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid #e91e63;
  background: rgba(#e91e63, 0.2);
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.3em;
  color: #e91e63;
}

.footer {
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.containetf {
  padding: 30px;
}
